<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - friend</title>
    <link href="~/Font awesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white fixed-top">
        <a class="navbar-brand" style="font-family: Courier New" , Courier, monospace" asp-controller="Home" asp-action="Index">friend</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item px-3" onclick="test()">
                    <a class="nav-link" href="#">Projektek</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="#">Okosotthon</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="#">Készlet</a>
                </li>
            </ul>
                <div class="btn-group d-flex justify-content-center">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle" src="~/Images/119816026_354740222570826_6590791531889016427_n.jpg" style="max-height:40px; max-width:40px;"/>
                        <label class="ml-2" id="username">Kovács József</label>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <label id="role" class="dropdown-item disabled"><i class="fas fa-user pr-1" style="margin-right: 5px"></i> Adminisztrátor</label>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-center" asp-controller="Home" asp-action="Profile">Profil</a>
                        <a class="dropdown-item text-center" asp-controller="Home" asp-action="StartPage">Kijelentkezés</a>
                    </div>
                </div>
         </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
