<div id="loginpage">
    <div id="accountbody"><asp:Label ID="lbl_register" runat="server" Text="Bejelentkezés"></asp:Label></div>
    <br />
    <asp:Label ID="lbl_username" runat="server" Text="Felhasználónév:"></asp:Label>
    <br />
    <asp:TextBox ID="txt_username" runat="server"></asp:TextBox>
    <br />
    <asp:Label ID="lbl_password" runat="server" Text="Jelszó:"></asp:Label>
    <br />
    <asp:TextBox ID="txt_password" runat="server" TextMode="Password"></asp:TextBox>
    <br />
    <asp:Label ID="lbl_login_errortext" runat="server" Text="" CssClass="registerErrorMessages"></asp:Label>
    <br />
    <br />
    <div id="accountfooter">
        <button type="button" class="btn btn-secondary btn-lg">Bejelentkezés</button>
        <br />
        <a href="#forgottenpw" class="stretched-link">Elfelejtett jelszó</a>
    </div>
</div>


